@{
    ViewData["Title"] = "Shopping List Generator";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Your Shopping List</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col my-3">
            <div class="card mx-auto text-center" style="width: 15rem;">
                <div class="card-body text-centre">
                    Click here to visit the list of recipes.
                    <a class="nav-link" asp-action="GetRecipes" asp-controller="ShoppingListGenerator" asp-area="">Recipes</a>
                </div>
            </div>
        </div>
        <div class="col my-3">
            <div class="card mx-auto text-center" style="width: 15rem;">
                <div class="card-body text-centre">
                    Click here to visit the list of ingredients.
                    <a class="nav-link" asp-action="GetIngredients" asp-controller="ShoppingListGenerator" asp-area="">Ingredients</a>
                </div>
            </div>
        </div>
        <div class="col my-3">
            <div class="card mx-auto text-center" style="width: 15rem;">
                <div class="card-body text-centre">
                    Click here to select your menu.
                    <a class="nav-link" asp-action="GetMenuSelection" asp-controller="ShoppingListGenerator" asp-area="">Menu Selection</a>
                </div>
            </div>
        </div>
    </div>
</div>