@model IEnumerable<ShoppingListGenerator.Models.ShoppingListGeneratorModels.RecipeModel>

@{
    ViewData["Title"] = "Get Recipes";
}

<div class="text-center">
    <h1 class="display-4">Recipes</h1>
</div>

<table class="table table-hover">
    <caption>List of Recipes</caption>
    <thead>
    <tr>
        <th scope="col">Recipe</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    @foreach (var recipe in Model)
    {
        <tr>
            <td>@recipe.Name</td>
        </tr>
    }
    </tbody>
</table>