@model Dictionary<string, int>;

@{
    ViewData["Title"] = "Your Shopping List";
}

<h1>Your Shopping List</h1>

<table class="table">
    <caption>List of Ingredients</caption>
    <thead>
    <tr>
        <th>Ingredient</th>
        <th>Quantity</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var ingredient in Model)
    {
        <tr>
            <td>@ingredient.Key</td>
            <td>@ingredient.Value</td>
        </tr>
    }
    </tbody>
</table>